[Unit]
Description=Nuchain Node
After=network.target
Documentation=https://github.com/nusantarachain/nuchain

[Service]
EnvironmentFile=-/etc/default/nuchain
ExecStart=/usr/bin/nuchain $NUCHAIN_CLI_ARGS
User=nuchain
Group=nuchain
Restart=always
RestartSec=120
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target

